.aboutMe {
  width: 90%;
  margin-left: 5%;
  margin-right: 5%;
  margin-bottom: 15px;
}
body {
  background-image: url(../images/GreyScale82.jpg);
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}
