h1 {
  text-align: center;
  font-size: 10vw;
}
nav {
  position: fixed;
  top: 0px;
  width: 100%;
  background-color: lightgreen;
  overflow: hidden;
}
.navDropdownEd, .navDropdownPr, .navDropdownWh {
  float: left;
  margin-left: 10%;
  font-size: 5vw;
  cursor: pointer;
}
.education {
  display: none;
}
.projects {
  display: none;
}
.workHistory {
  display: none;
}
.aboutMe {
  border: 2px solid black;
  background-color: lightgrey;
}
